{% extends "base.html" %}

{% block title %}Ajouter un adhérent{% endblock %}

{% block content %}
 <div class="row">
     <div class="col-2">
     </div>
     <div class="col-sm-8 col-12">

        <h1>Ajouter un appel</h1>
         {% from 'bootstrap5/form.html' import render_form %}
        <form method="POST">
    {{ form.hidden_tag() }}



    <!-- Date d'inscription -->
    <div class="mb-3">
      {{ form.date.label(class="form-label") }}
      {{ form.date(class="form-control", type="date") }}
    </div>

    <!-- Dojo -->
    <div class="mb-3">
      {{ form.coursId.label(class="form-label") }}
      {{ form.coursId(class="form-select") }}
    </div>

            <!-- Dojo -->
    <div class="mb-3">
      {{ form.adherentId.label(class="form-label") }}
      {{ form.adherentId(class="form-select") }}
    </div>



     <div class="form-check form-switch">
  {{ form.status.label(class="form-check-label") }}
  {{ form.status(class="form-check-input") }}
</div>

    <!-- Submit -->
    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
  </form>
        </div>
     <div class="col-2">
     </div>
</div>

{% endblock %}
