{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
 <div class="row">
     <div class="col-2">
     </div>
     <div class="col-sm-8 col-12">
         <div style="border-bottom: black 3px solid; margin-bottom: 50px;">
              <div style="display:flex;justify-content: space-between;">
                <div class="text-left">
                  <h1>Gestion des cours</h1>
                </div>
                <div style="align-items: center;display: flex;justify-content: center;">
                  <a href="{{ url_for('cours.ajouter_cours') }}" class="btn btn-dark">Ajouter un cours</a>
                </div>
              </div>

         </div>

        {% from 'bootstrap5/table.html' import render_table %}

        <form method="get" class="mb-3 d-flex">
            <input type="text" name="search" value="{{ search }}" class="form-control me-2" placeholder="Rechercher...">
            <button class="btn btn-primary">Rechercher</button>
        </form>

          <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    {% for col in [ 'Dojo', 'jour', 'heure','catégorie d\'age','professeurs'] %}
                        <th>
                            <a href="?search={{ search }}&sort={{ col }}&direction={{ 'asc' if direction == 'desc' else 'desc' }}">
                                {{ col|capitalize }}
                            </a>
                        </th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for c in cours %}
                    <tr>
                        <td>{{ c.Dojo.nom }}</td>
                        <td>{{ c.jour }}</td>
                        <td>{{ c.heure[:5]}}</td>
                        <td>{{ c.categorie_age }}</td>
                        <td>
                            {% if c.Utilisateurs %}
                              {% for prof in c.Utilisateurs %}
                                {{ prof.nom }} {{ prof.prenom }}<br>
                              {% endfor %}
                            {% else %}
                              Aucun prof
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('cours.modifier_cours', cours_id=c.id) }}" class="btn btn-link">Modifier</a>
                            <a href="{{ url_for('cours.supprimer_cours', cours_id=c.id) }}" class="btn btn-link">Supprimer</a>

                            </td>

                    </tr>
                {% endfor %}
            </tbody>
          </table>

            <nav>
              <ul class="pagination">
                {% for p in range(1, pagination.pages + 1) %}
                  <li class="page-item {% if p == pagination.page %}active{% endif %}">
                    <a class="page-link" href="?page={{ p }}&search={{ search }}&sort={{ sort }}&direction={{ direction }}">{{ p }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>


        </div>
     <div class="col-2">
     </div>
</div>

{% endblock %}
