<!doctype html>
<html lang="en">
    <head>
        <title>Back offfice ojnice</title>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" sizes="32x32" />
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Your page title</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% from 'bootstrap5/form.html' import render_form %}
        <div class="container mt-5">
              <div class="row">
                  <div class="col-4 ">
                  </div>
                  <div class="col-sm-4 col-12">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                  </div>
                  <div class="col-4">
                  </div>
              </div>

        </div>
        <div class="container  pt-5">
            <div class="container ">
              <div class="row">
                  <div class="col-4 ">
                  </div>
                    <div class="col-sm-4 col-12">
                        <img src="{{ url_for('static', filename='images/logo_white.png') }}" alt="Logo" class="img-fluid" />

                        <h2>Formulaire d'inscription</h2>
                        {{ render_form(form) }}
                        <a href="/">Mot de passe oublié ?</a>
                    </div>
                  <div class="col-4">
                  </div>
              </div>
            </div>
        </div>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>